@import './base.css';

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(244, 245, 247);
}

/* create container layout with 3 columns each being 1/3  */
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* create a column layout with 3 rows each being 1/3 */
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.visma-lønn-container {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr 2fr 1fr;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  width: 100%;
}
.custom-file-upload:hover {
  background-color: #0069d9;

}
.custom-file-upload:active {
  background-color: #0053ba;
}
#visma-lønn {
  display: none;
}

.clickable-area {
  padding: 6px 12px;  
  text-align: center;
}

